form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border: 1px solid #c0c0c0;
  padding: 40px;
  background-color: #fdfdfd;
  width: 50%;
}

form button {
  height: 50px;
  letter-spacing: 2.5px;
  font-size: 2em;
  width: 102%;
}

form h3 {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 170px 0 250px;
}

.sign-up {
  margin: 0 0 70px 0;
}

#img-submit-label {
  height: 40px;
  background-color: #F6CA4F;
  color: white;
  border-radius: 4px;
  padding: 13px 10px 0px 11px;
  margin: 0 0 16px 0;
}

#img-submit-label:hover {
  background-color: #d1a425;
}

.crop-wrap {
  display: flex;
  flex-direction: column;
}

.crop-label {
  align-self: flex-start;
}

.signup-redirect {
  width: 100%;
  font-size: 1.5em;
  margin: 20px 0 0 0;
}

.signup-redirect span {
  color: #f6ca4f;
}
