.chat-thread {
  display: flex;
  justify-content: center;
  padding: 170px 0 0 0;
  height: 100vh;
  overflow-y: scroll;
}

.chat-form {
  position: fixed;
  bottom: 8px;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 100%;
}

.chat-form input {
  margin: 0;
}

.submit-chat {
  width: 100px;
}

.chat-members {
  position: fixed;
  top: 135px;
  left: 40px;
}