.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Handlee', cursive;
}

button {
  border-radius: 5px;
  /*background-color: #df7a00;*/
  /*purple:*/
  background-color: #562d4f;
  color: #fff;
}

button:hover {
  /*background-color: #a05a00;*/
  /*purple:*/
  background-color: #260120;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
}