.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Handlee', cursive;
}

button {
  background-color: #ed952a;
}

button:hover {
  background-color: #e27c00;
}

.App-header {
  background-color: #D2DDDC;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
}