.chat-thread {
  display: flex;
  justify-content: center;
  padding: 170px 0 0 0;
  height: 100vh;
  overflow-y: scroll;
}

.chat-form {
  position: fixed;
  bottom: 8px;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 100%;
}

.chat-form input {
  margin: 0;
  height: 45px;
}

.submit-chat {
  width: 100px;
}

.chat-members {
  position: fixed;
  top: 135px;
  left: 40px;
}

.speech-right {
  position: relative;
  background: #fff;
  border-radius: .4em;
  padding: 5px 27px;
  margin: 20px 0;
}

.speech-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 36px solid transparent;
  border-left-color: #fff;
  border-right: 0;
  border-bottom: 0;
  margin-top: -18px;
  margin-right: -36px;
}

.speech-left {
  position: relative;
  background: #dedede;
  border-radius: .4em;
  padding: 5px 27px;
  box-shadow: 0 1px 2px #999;

  margin: 20px 0;
}

.speech-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 36px solid transparent;
  border-right-color: #dedede;
  box-shadow: 0 3px 2px -2px #999;
  /*box-shadow: 0 1px 2px #999;*/
  border-left: 0;
  border-bottom: 0;
  margin-top: -18px;
  margin-left: -36px;
}