.main {
  padding: 140px 0 0 0;
  height: 100vh;
  overflow-y: scroll;
}

.puzzle-post {
  border-radius: 20px;
  margin: 25px 0 0 0;
  height: 100px;
  font-size: 2em;
  width: 200px;
}

#puzzle-filter {
  height: 30px;
  width: 100px;
}

.view-description {
  text-align: left;
  margin: 0 0 0 4%;
}