.main {
  padding: 130px 0 0 0;
  height: 100vh;
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.puzzle-post {
  border-radius: 20px;
  margin: 35px 0 0 0;
  position: absolute;
  right: 60px;
  height: 60px;
  font-size: 1.2em;
  font-weight: 300;
  width: 100px;
}

#puzzle-filter {
  height: 30px;
  width: 100px;
}

.view-description {
  font-size: 1.3em;
  font-weight: 300;
  text-align: left;
  margin: 40px 0 10px 4%;
}