.app-title {
  margin: 0px;
  color: #260120;
  font-size: 5.5em;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #D2DDDC;
  height: 100px;
  padding: 20px;
  color: white;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}