.app-title {
  margin: 0px;
  color: #260120;
  font-size: 4em;
}

.App-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #fdfdfd;
  /*background-color: #D2DDDC;*/
  /*border-bottom: 1px solid #EFEDED;*/
  height: 100px;
  padding: 20px;
  color: white;
  box-shadow: 0 2px 4px #bababa;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 35px 0 0;
}

.header-right a {
  text-decoration: underline;
  color: black;
  height: fit-content;
  cursor: pointer;
}

.puzzleicon {
  width: 80px;
}

#header-wrap {
  display: flex;
}

.user-wrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.user-wrap p {
  color: black;
  margin: 0 0 7px 0;
}

.login {
  margin: 0 15px 0 0;
}